# Vulnerability Management

`{{defaultRevision}}`

## Policy Statements

{{companyShortName}} policy requires that:

(a) All product systems must be scanned for vulnerability at least quarterly and
with each major change.

(b) All vulnerability findings must be reported and tracked to resolution.
Records of findings must be retained for at least seven years.