### Use of Personal Mobile Devices

All employee mobile devices accessing or containing company data shall be inventoried
through IT. The inventory will maintain current information on the owner of the device,
its approved usages, system status(operating system version and patches), and its 
state(in-use, lost, decomissioned).

All applications downloaded on employee mobile devices used for business purposes 
must be installed through a pre-approved application store (approved-software.md). 

Circumvention of built-in device security controls such as jailbreaking is strongly prohibited
and may be enforced by detective or preventative software. 