### Quality of Service 

{{companyShortName}} strives to provide a high quality of service
to all of its customers. This is accomplished through a security 
architecture that encompasses all of {{companyShortName}}'s operations
and provides high data confidentiality, integrity, and availability.

An overview of {{companyShortName}}'s architecture can be found in 
cp-model-architecture.md. {{companyShortName}} uses a highly scalable
cloud architecture to provide system quality at all times. 

All systems are monitored and measured in real time as described in 
cp-bcdr-app.md. 

{{companyShortName}} uses DevOps methodology as described in cp-sdlc-dev.md 
to ensure a smooth delivery process of all systems and applications.
