### Policy and Compliance Training

1. The Security & Privacy Officer facilitates the training of all workforce
   members as follows:

     1. New workforce members within their first month of employment;
     2. Existing workforce members annually;
     3. Existing workforce members whose functions are affected by a material
        change in the policies and procedures, within a month after the material
        change becomes effective;
     4. Existing workforce members as needed due to changes in security and risk
        posture of {{companyShortName}}.

2. Documentation of the training session materials and attendees is retained for
   a minimum of seven years.

3. The training session focuses on, but is not limited to, the following
   subjects defined in {{companyShortName}}'s security policies and procedures:

     1. HIPAA Privacy, Security, and Breach notification rules;
     2. SOC 2 Security Principals and Controls;
     3. NIST Security Rules;
     4. Risk Management procedures and documentation;
     5. Auditing. {{companyShortName}} may monitor access and activities of all users;
     6. Workstations may only be used to perform assigned job responsibilities;
     7. Users may not download software onto {{companyShortName}}'s workstations and/or
        systems without prior approval from the Security Officer;
     8. Users are required to report malicious software to the Security Officer
        immediately;
     9. Users are required to report unauthorized attempts, uses of, and theft
        of {{companyShortName}}'s systems and/or workstations;
     10. Users are required to report unauthorized access to facilities
     11. Users are required to report noted log-in discrepancies (i.e.
         application states users last log-in was on a date user was on
         vacation);
     12. Users may not alter ePHI maintained in a database, unless authorized to
         do so by a {{companyShortName}} Customer;
     13. Users are required to understand their role in {{companyShortName}}'s contingency
         plan;
     14. Users may not share their user names nor passwords with anyone;
     15. Requirements for users to create and change passwords;
     16. Users must set all applications that contain or transmit ePHI to
         automatically log off after 15 minutes of inactivity;
     17. Supervisors are required to report terminations of workforce members
         and other outside users;
     18. Supervisors are required to report a change in a users title, role,
         department, and/or location;
     19. Procedures to backup ePHI;
     20. Procedures to move and record movement of hardware and electronic media
         containing ePHI;
     21. Procedures to dispose of discs, CDs, hard drives, and other media
         containing ePHI;
     22. Procedures to re-use electronic media containing ePHI;
     23. Secrets management (such as SSH key) and sensitive document encryption
         procedures.