### Ongoing Awareness Training

{{companyShortName}} leverages {{provider}} to deliver innovative, fun
and engaging security awareness contents to all employees monthly.  Progress is
tracked individually for each employee and reported on {{provider}}'s cloud-managed
learning platform.