## HITRUST Mappings to {{ companyShortName }} Policies and Controls

`{{defaultRevision}}`

Below is a list of NIST SP 800-53 Controls Families and the mappings to
{{companyShortName}} policies and controls in place.

|{{ companyShortName }} Policies and Controls          | HITRUST CSF v9                                                                       |
|------------------------------------------------------|--------------------------------------------------------------------------------------|
|[Security Program Overview][0]                        | * 00.a  Information Security Management Program                                      |
|[Security Architecture and Operating Model][1]        | * 00.a  Information Security Management Program                                      |
|                                                      | * 01.m  Segregation in Networks                                                      |
|[Roles and Responsibilities][2]                       | * 02.a  Roles and Responsibilities                                                   |
|                                                      | * 02.d  Management Responsibilities                                                  |
|                                                      | * 02.e  Information Security Awareness, Education, and Training                      |
|                                                      | * 02.f  Disciplinary Process                                                         |
|                                                      | * 05.a  Management Commitment to Information Security                                |
|                                                      | * 05.b  Information Security Coordination                                            |
|                                                      | * 05.c  Allocation of Information Security Responsibilities                          |
|                                                      | * 05.d  Authorization Process for Information Assets & Facilities                    |
|                                                      | * 06.d  Data Protection and Privacy of Covered Information                           |
|                                                      | * 06.f  Prevention of Misuse of Information Assets                                   |
|                                                      | * 06.g  Compliance with Security Policies and Standards                              |
|                                                      | * 11.b  Reporting Security Weaknesses                                                |
|[Policy Management][3]                                | * 04.a  Information Security Policy Document                                         |
|                                                      | * 04.b  Review of the Information Security Policy                                    |
|                                                      | * 05.h  Independent Review of Information Security                                   |
|[Risk Management][4]                                  | * 03.a  Risk Management Program Development                                          |
|                                                      | * 03.b  Performing Risk Assessments                                                  |
|                                                      | * 03.c  Risk Mitigation                                                              |
|                                                      | * 03.d  Risk Evaluation                                                              |
|                                                      | * 05.h  Independent Review of Information Security                                   |
|[Compliance Audits and External Communications][5]    | * 06.a  Identification of Applicable Legislation                                     |
|                                                      | * 06.g  Compliance with Security Policies and Standards                              |
|                                                      | * 05.h  Independent Review of Information Security                                   |
|[System Audits, Monitoring and Assessments][6]        | * 06.h  Technical Compliance Checking                                                |
|                                                      | * 09.aa Audit Logging                                                                |
|                                                      | * 09.ab Monitoring System Use                                                        |
|                                                      | * 09.ac Protection of Log Information                                                |
|                                                      | * 09.ad Administrator & Operator Logs                                                |
|                                                      | * 09.ae Fault Logging                                                                |
|                                                      | * 09.af Clock Synchronization                                                        |
|                                                      | * 06.e  Prevention of Misuse of Information                                          |
|                                                      | * 05.j  Addressing Security When Dealing with Customers                              |
|[HR and Personnel Security][7]                        | * 01.y  Teleworking                                                                  |
|                                                      | * 02.a  Roles and Responsibilities                                                   |
|                                                      | * 02.b  Screening                                                                    |
|                                                      | * 02.c  Terms and Conditions of Employment                                           |
|                                                      | * 02.e  Information Security Awareness, Education, and Training                      |
|                                                      | * 02.f  Disciplinary Process                                                         |
|                                                      | * 02.g  Termination or Change Responsibilities                                       |
|                                                      | * 02.h  Return of Assets                                                             |
|                                                      | * 02.i  Removal of Access Rights                                                     |
|                                                      | * 06.e  Prevention of Misuse of Information Assets                                   |
|                                                      | * 07.c  Acceptable Use of Assets                                                     |
|                                                      | * 09.j  Controls Against Malicious Code                                              |
|                                                      | * 11.b  Reporting Security Weaknesses                                                |
|[Access][8]                                           | * 01.a  Access Control Policy                                                        |
|                                                      | * 01.b  User Registration                                                            |
|                                                      | * 01.c  Privilege Management                                                         |
|                                                      | * 01.d  User Password Management                                                     |
|                                                      | * 01.e  Review of User Access Rights                                                 |
|                                                      | * 01.f  Password Use                                                                 |
|                                                      | * 01.g  Unattended User Equipment                                                    |
|                                                      | * 01.h  Clear Desk and Clear Screen Policy                                           |
|                                                      | * 01.i  Policy on the User of Network Services                                       |
|                                                      | * 01.j  User Authentication for External Connections                                 |
|                                                      | * 01.p  Secure Log-on Procedures                                                     |
|                                                      | * 01.q  User Identification and Authentication                                       |
|                                                      | * 01.r  Password Management System                                                   |
|                                                      | * 01.v  Information Access Restriction                                               |
|                                                      | * 02.i  Removal of Access Rights                                                     |
|                                                      | * 05.j  Addressing Security When Dealing with Customers                              |
|                                                      | * 06.e  Prevention of Misuse of Information Assets                                   |
|[Facility Access and Physical Security][9]            | * 08    Physical & Environmental Security                                            |
|                                                      | * 08.b  Physical Entry Controls                                                      |
|                                                      | * 08.d  Protecting Against External and Environmental Threats                        |
|                                                      | * 08.j  Equipment Maintenance                                                        |
|                                                      | * 08.l  Secure Disposal or Re-Use of Equipment                                       |
|                                                      | * 01.h  Clear Desk and Clear Screen Policy                                           |
|[Asset Management][10]                                | * 07.a  Inventory of Assets                                                          |
|                                                      | * 07.b  Ownership of Assets                                                          |
|[Data Management][11]                                 | * 01.v  Information Access Restriction                                               |
|                                                      | * 07.d  Classification Guidelines                                                    |
|                                                      | * 07.e  Information Labeling & Handling                                              |
|                                                      | * 09.l  Back-up                                                                      |
|                                                      | * 09.q  Information Handling Procedures                                              |
|[Data Protection][12]                                 | * 06.c  Protection of Organizational Records                                         |
|                                                      | * 06.d  Data Protection & Privacy of Covered Information                             |
|                                                      | * 06.e  Prevention of Misuse of Information Assets                                   |
|                                                      | * 06.f  Regulation of Cryptographic Controls                                         |
|                                                      | * 09.s  Information Exchange Policies & Procedures                                   |
|                                                      | * 09.t  Exchange Agreements                                                          |
|                                                      | * 09.u  Physical Media in Transit                                                    |
|                                                      | * 09.v  Electronic Messaging                                                         |
|                                                      | * 09.w  Interconnected Business Information Systems                                  |
|                                                      | * 09.x  Electronic Commerce Services                                                 |
|                                                      | * 09.y  On-line Transactions                                                         |
|                                                      | * 09.z  Publicly Available Information                                               |
|                                                      | * 10.f  Policy on the Use of Cryptographic Controls                                  |
|                                                      | * 10.g  Key Management                                                               |
|                                                      | * 10.i  Protection of System Test Data                                               |
|                                                      | * 10.j  Access Control to Program Source Code                                        |
|[Secure Software Development and Product Security][13]| * 10.0  Information Systems Acquisition, Development, and Maintenance                |
|                                                      | * 10.a  Security Requirements Analysis & Specification                               |
|                                                      | * 10.b  Input Data Validation                                                        |
|                                                      | * 10.c  Control of Internal Processing                                               |
|                                                      | * 10.d  Message Integrity                                                            |
|                                                      | * 10.e  Output Data Validation                                                       |
|                                                      | * 10.j  Access Control to Program Source Code                                        |
|[Configuration and Change Management][14]             | * 01.m  Segregation in Networks                                                      |
|                                                      | * 01.p  Secure Log-on Procedures                                                     |
|                                                      | * 01.q  User Identification and Authentication                                       |
|                                                      | * 01.r  Password Management System                                                   |
|                                                      | * 01.s  Use of System Utilities                                                      |
|                                                      | * 01.t  Session Time-out                                                             |
|                                                      | * 01.u  Limitation of Connection Time                                                |
|                                                      | * 06.h  Technical Compliance Checking                                                |
|                                                      | * 09.a  Documented Operations Procedures                                             |
|                                                      | * 09.b  Change Management                                                            |
|                                                      | * 09.c  Separation of Duties                                                         |
|                                                      | * 09.d  Separation of Development, Test & Operational Environments                   |
|                                                      | * 09.m  Network Controls                                                             |
|                                                      | * 10.h  Control of Operational Software                                              |
|                                                      | * 10.k  Change Control Procedures                                                    |
|[Threat Detection and Prevention][15]                 | * 09.ab Monitoring System Use                                                        |
|                                                      | * 09.j  Controls Against Malicious Code                                              |
|                                                      | * 09.k  Controls Against Mobile Code                                                 |
|                                                      | * 05.g  Contact with Special Interest Groups                                         |
|                                                      | * 06.e  Prevention of Misuse of Information                                          |
|                                                      | * 10.h  Control of Operational Software                                              |
|[Vulnerability Management][16]                        | * 10.m  Control of Technical Vulnerabilities                                         |
|[Mobile Device Security and Media Management][17]     | * 01.x  Mobile Computing & Communications                                            |
|                                                      | * 09.o  Management of Removable Media                                                |
|                                                      | * 09.p  Disposal of Media                                                            |
|[Business Continuity and Disaster Recovery][18]       | * 12.a  Including Information Security in the Business Continuity Management Process |
|                                                      | * 12.b  Business Continuity & Risk Assessment                                        |
|                                                      | * 12.c  Developing and Implementing Continuity Plans Including Information Security  |
|                                                      | * 12.d  Business Continuity Planning Framework                                       |
|                                                      | * 12.e  Testing, Maintaining & Re-Assessing Business Continuity Plans                |
|                                                      | * 09.l  Back-up                                                                      |
|[Incident Response][19]                               | * 11.a  Reporting Information Security Events                                        |
|                                                      | * 11.c  Responsibilities and Procedures                                              |
|                                                      | * 11.d  Learning from Information Security Incidents                                 |
|                                                      | * 11.e  Collection of Evidence                                                       |
|[Breach Investigation and Notification][20]           | * 11.a  Reporting Information Security Events                                        |
|                                                      | * 11.c  Responsibilities and Procedures                                              |
|                                                      | * 05.f  Contact with Authorities                                                     |
|                                                      | * 05.j  Addressing Security When Dealing with Customers                              |
|[Third Party Security and Vendor Risk Management][21] | * 05.e  Confidentiality Agreements                                                   |
|                                                      | * 05.i  Identification of Risks Related to External Parties                          |
|                                                      | * 05.k  Addressing Security in Third Party Agreements                                |
|                                                      | * 06.b  Intellectual Property Rights                                                 |
|                                                      | * 09.e  Service Delivery                                                             |
|                                                      | * 09.f  Monitoring and Review of Third Party Services                                |
|                                                      | * 09.g  Managing Changes to Third Party Services                                     |
|                                                      | * 09.n  Security of Network Services                                                 |
|                                                      | * 10.1  Outsourced Software Development                                              |
|[Privacy Practice and Consent][22]                    | * 13    Privacy Practices                                                            |

[0]:program.md
[1]:model.md
[2]:rar.md
[3]:policy-mgmt.md
[4]:risk-mgmt.md
[5]:compliance-audit.md
[6]:system-audit.md
[7]:hr.md
[8]:access.md
[9]:facility.md
[10]:asset-mgmt.md
[11]:data-mgmt.md
[12]:data-protection.md
[13]:sdlc.md
[14]:ccm.md
[15]:threat.md
[16]:vuln-mgmt.md
[17]:mdm.md
[18]:bcdr.md
[19]:ir.md
[20]:breach.md
[21]:vendor.md
[22]:privacy.md
